/* You can add global styles to this file, and also import other style files */
.toast {
    border-radius: 2px;
    top: 35px;
    width: auto;
    clear: both;
    margin-top: 10px;
    position: relative;
    max-width:100%;
    height: auto;
    line-height: 1.5em;
    word-break: keep-all;
    padding: 10px 25px;
    font-size: xx-large;
    font-weight: 300;
  
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    }